::-webkit-scrollbar {
    height:8px;
    width:8px
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
    background-color:rgba(0,0,0,.4)
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.05)
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05)
}
body {
  padding: 20px;
  padding-right: 0;
  margin-right: 0;
  width: 400px;
  overflow: hidden;
  background: #F9F9F9;
  font-family:arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-transition: all .3s;
  -webkit-user-select: none;
}
body.on {
  min-height: 250px;
}
.input {
  position: relative;
  margin: 5px 0;
}
#input {
  display: inline-block;
  width: 270px;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: all ease-in-out .15s;
}
#input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
button {
  display: inline-block;
  padding: 5px 12px;
  margin: -1px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
button:hover {
  color: #fff;
  background-color: #3276b1;
}
button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.input button {
  margin-left: -5px;
  padding-left: 16px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  letter-spacing: .4em;
}
.list {
  max-height: 400px;
  overflow-y: scroll;
}
i {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 8px;
  line-height: 1.428571429;
  display: inline-block;
  background-color: #dff0d8;
  color: #468847;
  font-style: normal;
  overflow: visible;
  cursor: default;
  z-index: 0;
}
i:hover {
  background: #C9FDAC;
}
.close {
  position: absolute;
  display: none;
  right: -8px;
  top: -8px;
  width: 17px;
  height: 17px;
  color: #fff;
  background: #f00;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  opacity: .7;
  font-family: "Microsoft Yahei";
}
i:hover .close {
  display: block;
}
.close:hover {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  -webkit-transition: all .3s;
}
.clearout {
  display: none;
}
.clearout {
  width: 370px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 1em;
  text-align: center;
  background-color: #ed9c28;
  border-color: #d58512;
}
.clearout:hover {
  background-color: #d58512;
  border-color: #d58512;
}
.clearout:active {
  background-color: #d58512;
  border-color: #d58512;
}
.list h4 {
  display: none;
  position: relative;
  width: 370px;
  margin-top: 10px;
  height: 26px;
  padding-bottom: 3px;
  border-bottom: 2px solid #eee;
}
.list h4 span {
  position: absolute;
  top: 1px;
  left: 0;
  padding-bottom: 3px;
  border-bottom: 2px solid #87ceeb;
  font-size: 18px;
  color: #7b8faa;
  letter-spacing: .3em;
  text-shadow: 0 1px 0 #d3d3d3;
}
#content, #uid h4 b, h2, input, button,.backinfo {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#tips {
  display: none;
  position: absolute;
  width: 330px;
  top: 60px;
  opacity: 0;
  padding: 0 20px;
  background: rgba(17, 17, 17, 0.86);
  color: #f3f3f3;
  font-size: 14px;
  line-height: 1.7;
  z-index: 9999999;
  border-radius: 4px;
  box-shadow: 0 0 3px #000;
}
#tips:before {
  content:"";
  display: block;
  position: absolute;
  top: -6px;
  left: 19px;
  margin-top: -6px;
  width: 0;
  height: 0;
  border: 6px dashed transparent;
  border-bottom: 6px solid rgba(17, 17, 17, 0.86);
}
#tips p {
  margin: 10px 0;
  padding: 0;
  cursor: default;
}
#tips span {
  font-weight: bold;
  color: #ff0;
}
.highlight {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffc5cf;
  z-index: -1;
}
.panel {
  position: absolute;
  margin-bottom: 5px;
  width: 430px;
  left: 0;
  top: 0;
  box-shadow: inset 0 -9px 5px rgba(15, 15, 15, 0.47);
  z-index: 1;
}
.inner {
  display: none;
  background: rgba(66, 66, 66, 0.86);
  padding: 20px 0;
}
.backup {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.backup:hover, .backup:active {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.restore {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.restore:hover, .restore:active {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.inner button {
  font-size: 16px;
  margin-left: 36px;
  letter-spacing: 5px;
}
.toggle {
  margin-top: -3px;
  border-top: 5px solid #8f8f8f;
  -webkit-transition: all .2s;
}
.toggle:hover {
  margin-top: 0;
}
.toggle span {
  position: absolute;
  right: 0;
  padding: 0 3px 3px 8px;
  color: #fff;
  background: #8f8f8f;
  cursor: pointer;
  border-radius: 0 0 0 20px;
  font-size: 12px;
}
.toggle.active {
  margin-top: 0;
}
.bkwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events:none;
}
.backinfo {
  display: inline-block;
  width: 325px;
  padding: 10px 20px;
  background: rgba(17, 17, 17, 0.78);
  color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 3px #000;
  z-index: 1;
  cursor: default;
  text-align: left;
  vertical-align: middle;
}
.ok {
  display: inline-block;
  padding-bottom: 10px;
  width: 400px;
  font-size: 50px;
  color: rgba(30, 216, 30, 0.84);
}
.title {
  display: inline-block;
  position: relative;
  bottom: 4px;
  left: 20px;
  font-size: 32px;
  vertical-align: middle;
  color: rgba(205, 255, 0, 0.83);
  letter-spacing: 5px;
}
table {
  float: left;
  border-collapse: collapse;
  word-break: break-all;
}
tr td:first-child {
  width: 80px;
}
tr:first-child td {
  border-bottom: 1px solid #8a8a8a;
}
td {
  padding: 15px 5px;
  vertical-align: top;
}
.backinfo p {
  margin: 0;
  margin-top: 10px;
  padding: 3px;
  color: #ffb800;
  text-align: center;
  border: 1px dashed #c4a320;
  border-radius: 5px;
}
.text {
  margin-top: -10px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: auto;
}
.stwrap {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.54);
  z-index: 2;
}
.closeLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stwrap:before, .bkwrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.setting {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  width: 325px;
  padding: 10px;
  background: #555;
  border: 1px solid #ccc;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 2px;
}
.setting h4 {
  margin: -10px 0 10px -10px;
  padding: 5px 5px 0;
  height: 25px;
  width: 350px;
  color: #707070;
  cursor: move;
  background: -webkit-linear-gradient(top, #fff, #e6e6e6);
}
.check {
  position: relative;
  height: 26px;
  margin: 0;
  padding: 0;
}
.checkbox {
  position: absolute;
  right: 0;
}
input[type="checkbox"] {
  position: relative;
  -webkit-appearance:none;
  width: 60px;
  height: 20px;
  background: #333;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
input[type="checkbox"]:after {
  content: 'OFF';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 5px;
  top: -2px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

input[type="checkbox"]:before {
  content: 'ON';
  font: 12px/26px Arial, sans-serif;
  color: #dfa100;
  position: absolute;
  left: 5px;
  top: -2px;
  z-index: 0;
  font-weight: bold;
}
.slide {
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 25px;
  height: 15px;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transition: all .3s;
  pointer-events: none;
}
input[type="checkbox"]:checked + .slide {
  left: 35px;
}
#setting label {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 5px;
  font-size: 16px;
  color: #ccc;
  letter-spacing: .1em;
  cursor: pointer;
  text-shadow: 1px 0px 1px #3F2F2F;
}
#setting label:hover {
  color: #e99e00;
}
#submit, #cancel {
  display: block;
  float: right;
  margin-top: 15px;
  margin-right: 0;
  border-radius: 0;
  padding: 5px 20px;
  letter-spacing: .1em;
  color: #333;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 5px;
  border: 1px solid #ccc;
  letter-spacing: .3em;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
#submit {
  margin-right: 10px;
}
button.focus {
  border: 1px inset #428bca !important;
}
#submit:active, #cancel:active {
  color: #333;
  background: #ebebeb;
  -webkit-box-shadow: none;
}
#closex {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 5px;
  font-size: 22px;
  color: #555;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
}
#closex:hover {
  background: #555;
  color: #fff;
  border-radius: 50%;
}
footer {
  margin-top: 10px;
  margin-bottom: -10px;
}
footer a {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: #0867f7;
}
#donate {
  margin-right: 5px;
  color: rgb(255, 145, 110);
}
input#moveTooMuchLikes {
  margin-top: 10px;
  display: block;
  position: relative;
  width: 320px;
  -webkit-appearance: none;
  background: #333;
  height: 6px;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.range {
  display: block;
  padding-top: 4px;
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
  letter-spacing: .2em;
  clear: both;
  text-shadow: 1px 0px 1px #3F2F2F;
}
.range b {
  font-weight: 800;
  color: #e99e00;
  letter-spacing: 0;
}
#moveTooMuchLikes::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: ew-resize;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}